.our {
    color: rgb(4, 72, 49);
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .at {
    color: rgb(33, 150, 115);
  }
  
  .im1 {
    height: 300px;
    width: 120%;
    box-shadow: 0 0 12px rgb(28, 27, 27);
  }
  
  .im1:hover {
    border-radius: 40px;
  }
  
  .content.blur {
    filter: blur(5px);
    pointer-events: none; /* Optional: Disable click events on blurred elements */
  }
  
  .content {
    transition: filter 0.3s ease;
  }
  