/* Add this to your global CSS file */
:root {
  --background-light: #ffffff;
  --background-dark: #242424;
  --text-light: #000000;
  --text-dark: #ffffff;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
